.dashwrapper {
  background-color: #364880;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top-left-radius:10%;
  border-top-right-radius:10%;

  border-bottom-left-radius:10%;
  border-bottom-right-radius:10%;
}

.dashilink {
text-decoration: none;
display:inline-block;
margin-top:10px;
margin-bottom:10px;
color:#fff;
}

.dashilink:hover {
  color:#fff;
}


.dashilink p {
  text-align: center;
  font-size: 13px;
  margin:4px;
}
